*.d
*.o
**/.*
./.*/*.d
./.*/*.o
./.gdb_history
.DS_Store
hog/apps/hog/objs/
hog/apps/libs/
hog/bin/
hog/hog.log
hog/libs/
hog/maps
hog/objs/
hog/results_FlexibleAStar
hog/results_JPSR0
hog/results_unitSimulation
hog/scenarios
hog/tags
maps/corner_graphs/
maps/local/CSC2F.map.jps+
maps/map.zip
maps/maps
maps/random/
maps/sc1/
maps/subgoal_graphs/
scenarios/scenarios
src.current/
src/.gdb_history
src/.RData
src/.Rhistory
src/.exrc
src/.swp
src/TODO
src/bin
src/cscope.in
src/cscope.out
src/lib
src/wtf
src_crap/
src/dimacs
src/maps
src/results
src/scenarios
src/tags
src/testdata
src/*log
src/*results*
src/compile_commands.json
*/.cache
**/__pycache__/
